
<%= form_for(@attachment, :html => { multipart: true }) do |f| %>
  <% if @attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
      <% @attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

<% if @attachment.name != nil %>
  <%= "新しい添付ファイルを選択してください" %>
  <%= "現在の添付ファイル名は#{@attachment.filename}です" %>
<% end %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.file_field :content %>
  </div>

  <div class="actions">
    <%#= f.submit "Upload", disable_with: 'uploading...',  id: 'upload' %>
    <%= button_to_function "Upload", "check_file_size()", id: 'upload', data: {disable_with: 'uploading...'} %>
    <%= image_tag "loading.gif", :id=>'spinner', :style => 'display:none;' %>
  </div>
<% end %>

<div id="result"></div>

<script type="text/javascript">
  //<![CDATA[
    function check_file_size() {
         if (document.getElementById("attachment_content").files[0]) {
	          var fileData = document.getElementById("attachment_content").files[0];
            if ( fileData.size > 2000000) {
              alert('添付ファイルは２MB以下でお願いします。\n' + fileData.name + ' は ' + fileData.size + 'バイトあります。');
            }else{
              $('.edit_attachment').submit();
              $('#spinner, .link').toggle();
//              $('body').css({'cursor': 'wait'});
            }
          }
    }
/*    $(function(){
        $('#upload').click(function() {
                              $('#spinner, .link').toggle();                           
                              $('body').css({'cursor': 'wait'});
        });
  	    $("#upload").hover(function() {
          if (document.getElementById("attachment_content").files[0]) {
	          var fileData = document.getElementById("attachment_content").files[0];
	          var txt = "ファイルの名前　："+fileData.name+"<br />";  // ファイル名
	          txt += "ファイルのサイズ："+fileData.size+"<br />";   // サイズ(Bytes)
	          txt += "ファイルの種類　："+fileData.type+"<br />";   // 種類(MIME Type)
	          $("#result").html(txt);
            if ( fileData.size > 2000000) {
              alert('添付ファイルは２MB以下でお願いします。\n' + fileData.name + ' は ' + fileData.size + 'バイトあります。');
            }
          } 
	      });
    });*/
//]]>
</script>
